# Contents of /etc/systemd/system/SVC_NAME.service
[Unit]
Description=youtube-dl daemon
After=network.target

[Service]
User=root
WorkingDirectory=DL_DIR
ExecStart=BIN_FILE_TARGET DB_FILE_TARGET
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target